
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('./bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* dark mode looking scroolbar */
*{
  scrollbar-color: #122222  transparent !important;
  scrollbar-thumb: #122222 !important;

}
